{extend name="$base"}
{block name="head"}
<link rel="stylesheet" href="/static/jstree/themes/default/style.css">
{/block}
{block name="main"}
<div class="card">
    <div class="card-body">
        <form @submit.prevent="submit1">
            <div class="form-group">
                <label>用户组名称</label>
                <input type="text" class="form-control border" required v-model="form.name">
            </div>
            <div class="form-group">
                <label>后台权限</label>
                <div ref="rules" style="min-height:200px;border:1px solid #ddd;padding:20px;">
                </div>
            </div>
            <div class="form-group" v-for="(v,addon_title) in addon_menus">
                <label>{{addon_title}}</label>
                <div :ref="addon_title" style="min-height:200px;border:1px solid #ddd;padding:20px;">
                </div>
            </div>
            <div class="form-group">
                <label>登录跳转节点</label>
                <input type="text" class="form-control" required v-model="form.url" placeholder="不填则跳转值后台首页">
            </div>
            <div class="form-group">
                <label class="col-form-label">状态</label>
                <select v-model="form.status" class="form-control border">
                    <option value="1">正常</option>
                    <option value="0">禁用</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script src="/static/jstree/jstree.js"></script>
<script>
    new Vue({
        el:'#app',
        data(){
            return {
                form:{:json_encode($group)},
                addon_menus:{:json_encode($addon_menus)}
            }
        },
        mounted(){
            $(this.$refs.rules).jstree({
                core: {
                    data: JSON.parse('{:json_encode($menus)}'),
                    themes: {
                        icons: false
                    }
                },
                plugins: ['checkbox']
            });
            for(k in this.addon_menus){
                $(this.$refs[k]).jstree({
                    core: {
                        data: this.addon_menus[k],
                        themes: {
                            icons: false
                        }
                    },
                    plugins: ['checkbox']
                });
            }
        },
        methods:{
            
            submit1(e){
                let get_checked = $(this.$refs.rules).jstree('get_checked');
                let get_undetermined = $(this.$refs.rules).jstree('get_undetermined');
                this.form.rules = get_checked.concat(get_undetermined)
                for(k in this.addon_menus){
                    this.form.rules = this.form.rules.concat($(this.$refs[k]).jstree('get_checked'))
                    this.form.rules = this.form.rules.concat($(this.$refs[k]).jstree('get_undetermined'))
                }
                this.submit(e);
            }
        }
    })
</script>
{/block}