{extend name="$base"}
{block name="main"}
<div class="card">
    <div class="card-body">
        <div class="mb-2">
            <input type="file" style="display:none" @change="upload" accept=".zip">
            <button class="btn btn-info" onclick="$(this).prev('input').click()">上传应用</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>介绍</th>
                        <th>版本</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $addons as $k=>$v}
                    <tr>
                        <td>{$v.title}</td>
                        <td>{$v.description}</td>
                        <td>{$v.version}</td>
                        <td class="text-center">
                            {if $v.status==0}
                            <button class="btn btn-xs btn-success" @click="install('{$v.name}')">安装</button>
                            {else}
                            <a class="btn btn-xs btn-success" href="{:url('entrance',['addon_name'=>$v.name])}">进入</a>
                            {if $admin.group.rules=='*'&&is_file(public_path().'addons/'.$v['name'].'/domains.php')}
                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#bindDomain{$k}">域名绑定</button>
                            <div class="modal fade" id="bindDomain{$k}" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title">{$v.title}绑定域名</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>域名</label>
                                                <textarea type="text" class="form-control border" rows="5" style="resize:none;">{$v.domains??''}</textarea>
                                            </div>
                                            <small class="text-danger">支持多个域名,每行一个</small>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary" @click="bindDomain('{$v.name}',$('#bindDomain{$k}').find('textarea').val())">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-xs btn-danger" @click="uninstall('{$v.name}')">卸载</button>
                            {/if}
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    new Vue({
        el:'#app',
        data(){
            return {};
        },
        methods:{
            bindDomain(name,val){
                let domains = val.split('\n');
                for(domain of domains){
                    if(/^((https?|ftp):\/\/)?([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$/.test(domain)==false){
                        this.alert({code:0,msg:domain+'不是一个域名,请修改'})
                        return;
                    }
                }
                if(domains.length){
                    this.post('bindDomain',{name:name,domains:domains},res=>{
                        this.alert(res);
                    })
                }
            },
            upload(e){
                e.target
                let data = new FormData()
                data.append('file',e.target.files[0])
                this.ajax('',data,res=>{
                    this.alert(res);
                })
            },
            install(name){
                this.post('install',{name:name})
            },
            uninstall(name){
                this.confirm('确定要卸载'+name+'应用吗?',()=>{
                    this.post('uninstall',{name:name})
                })
            }
        }
    })
</script>
{/block}