{extend name="$base"}
{block name="main"}
dassd
{/block}
{block name="script"}
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    new Vue({
        el:'#app',
        data(){
            
        },
        mounted(){
            let params = new URLSearchParams(window.Telegram.WebApp.initData);
            let data = new FormData();
            params.forEach((v,k)=>{
                data.append(k,v);
            })
            console.log(params);
            this.ajax("{:url('login/auth')}",data,res=>{
                if(res.code==1){
                    window.location.href = "{:addons_url($Request.get.addon_name.'://index/index')}"
                }else{
                    this.alert(res);
                }
            })
        }
    })
</script>
{/block}